*.MOV
*.jpg
*.jpeg
*.png
*.mp4
*.pth
**/.DS_Store
*.DS_Store
__pycache__
*.ipynb_checkpoints
ipynb_checkpoints
lib
.idea
.DS_Store
.env
json-data
yarn.lock
.homebridge
.hoobs
.turbo
.vscode

models/*
node_modules
